<ion-header translucent>
  <ion-toolbar>
    <ion-title>Gerenciamento de Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1>Pets registrados:</h1>

  <ion-item *ngIf="listaPets.length === 0">
    <ion-icon name="logo-octocat"></ion-icon>
    <ion-label>❌Não a pet, na sua pesquisa❌</ion-label>
  </ion-item>

  <ion-card *ngFor="let pets of listaPets">
    <ion-card-header>
      <ion-card-title>{{ pets.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Espécie: {{ pets.especie }}</p>
      <p>Raça: {{ pets.raca }}</p>
      <p>Anos de vida: {{ pets.idade }}</p>
      <p>Analise: {{ pets.obs }}</p>

      <ion-button fill="outline" color="success" [routerLink]="'/pets/alterar-pets/' + pets.id">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Alterar
      </ion-button>

      <ion-button fill="outline" color="danger" (click)="deletarPets(pets.id)">
        <ion-icon slot="start" name="flame-outline" ></ion-icon>
        Apagar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/pets/cadastro-pets" color="secondary">
      <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>

  <h1 className="textinho">Cuidadores registrados:</h1>

  <ion-item *ngIf="listaCuidadores.length === 0">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>❌Não a cuidador, encontrado❌</ion-label>
  </ion-item>

  <ion-card *ngFor="let cuidadores of listaCuidadores">
    <ion-card-header>
      <ion-card-title>{{ cuidadores.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Numero de telefone: {{ cuidadores.telefone }}</p>
      <p>Experiência: {{ cuidadores.exp }}</p>
      <p>Especialidade: {{ cuidadores.escp }}</p>

      <ion-button fill="outline" color="success" [routerLink]="'/cuidadores/alterar-cuidadores/' + cuidadores.id">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Alterar
      </ion-button>

      <ion-button fill="outline" color="danger" (click)="daletarCuidadores(cuidadores.id)">
        <ion-icon slot="start" name="flame-outline"></ion-icon>
        Apagar
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-button routerLink="/cuidadores/cadastro-cuidadores" color="secondary">
    <ion-icon name="add-circle-outline"></ion-icon>
</ion-button>

</ion-content>
